<!DOCtipo html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>
        <%= pokemon.nome %>
    </title>
</head>

<body>
    <h1>
        <%= pokemon.nome %>
    </h1>
    <p>Tipo:
        <%= pokemon.tipo%>
    </p>
    <p>
        <img src="<%= pokemon.image %>" alt="<%= pokemon.nome %>"> </p>
    <a href="/">Voltar à Pokédex</a>


</body>

</html>